.error {
  max-width:500px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.button {
  background-color: rgb(27, 11, 247);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
 background-color: #060357;
}
.link {
  margin-top: 20px;
}