.home {
  max-width:500px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.buttonLink {
  background-color: rgb(62, 158, 38);
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonLink a {
  color: white;
  text-decoration: none;
}

.buttonLink:hover {
 background-color: #19bdb5;
}
.text {
  align-items: center;
}